
{% extends "base.html" %}
{% load static %}
{% block title %}{{ item.name }} - Details{% endblock %}

{% block content %}
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'food/item_detail.css' %}">
{% endblock %}
<div class="main-content">
    <div class="hero">
        <h1>{{ item.name }}</h1>
        <p><strong>Price:</strong> ₹{{ item.price }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <a href="{% url 'food:items' %}" class="btn" style="margin-top: 25px; display: inline-block;">← Back to Items</a>
    </div>
</div>
{% endblock %}


