
{% extends "base.html" %}
{% load static %}
{% block title %}{{ item.name }} - Details{% endblock %}

{% block content %}
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'food/item_detail.css' %}">
{% endblock %}
<div class="item-detail">
    <h1>{{ item.name }}</h1>
    <p><strong>Description:</strong> {{ item.description }}</p>
    <p><strong>Price:</strong> ₹{{ item.price }}</p>
    <a href="{% url 'food:items' %}" class="back-link">← Back to Menu</a>
</div>
{% endblock %}


